body{
    background: linear-gradient(45deg, black, gray, white);
    color: orange;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 70vh;
    margin-top: 9em;
    font-size: 2em; 
}